<p id="notice"><%= notice %></p>

<p>
    <h1>List Of Programmers </h1>
  <%= link_to "Home", :action=>'welcome' %>
  <div id="vertical-space">

   <table>

     <% @number_of_pairs.times do |i|   %>
          <tr>
          <td><%= @programmers[i] %></td>
        <% for pair in @pairchart[i] %>
              <td><%= pair %></td>
           <% end %>
            </tr>
         <% end %>

         <tr>
           <td></td>
         <% for programmer in @programmers.reverse %>
           <td><%= programmer %></td>
         <% end %>
         </tr>



   </table>

    </div>














